/**
 * Reboot styles
 * Partially copied from https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
 */

/*
// Remove the default `border-radius` that macOS Chrome adds.
//
// Details at https://github.com/twbs/bootstrap/issues/24093
*/
button {
  border-radius: 0;
}

/*
// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
//
// Credit: https://github.com/suitcss/base/
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0; /* Remove the margin in Firefox and Safari */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible; /* Show the overflow in Edge */
}

button,
select {
  text-transform: none; /* Remove the inheritance of text transform in Firefox */
}

/*
// 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
//    controls in Android 4.
// 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"], // 1
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/*
// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
