/*
  BORDER COLORS
*/

.b--transparent {
  border-color: transparent;
}

/* Grayscale */

.b--ced4da {
  border-color: #ced4da;
}
.b--eee {
  border-color: #eee;
}

/* Blues */

.b--80bdff {
  border-color: #80bdff;
}
.b--001b44 {
  border-color: #001b44;
}
