/*
  BORDER COLORS PSEUDO
*/

/* BORDERS:FOCUS */

/* Blues */

.b-focus--80bdff:focus {
  border-color: #80bdff;
}

/* BORDERS:HOVER */

/* Grayscale */

.b-hover--ced4da:hover {
  border-color: #ced4da;
}

/* Blues */

.b-hover--80bdff:hover {
  border-color: #80bdff;
}
