/*
  BOX-SHADOW - EXTENSION
*/

.shadow-focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* BOX-SHADOW:FOCUS */

.shadow-focus-focus:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
