/*
  SKINS - CUSTOM
*/

/* TEXT */

/* Grayscale */

.c-333 {
  color: #333;
}

/* Greens */

.c-19a974 {
  color: #19a974;
}

/* BACKGROUND */

.bg-transparent {
  background-color: transparent;
}

/* Grayscale */

.bg-eee {
  background-color: #eee;
}
.bg-fff {
  background-color: #fff;
}

/* Greens */

.bg-19a974 {
  background-color: #19a974;
}
