/*
  BASE

  Base styles should only use HTML selector. This makes them easy to override as needed.
*/
html {
  font-family: 'avenir next', avenir, sans-serif;
  line-height: 1.5;
}

[type='text']:focus,
button:focus {
  outline: 0;
}
